{% extends 'main/layout.html' %}

{% block title %}Aktualności na stronie{% endblock %}

{% block content %}
    <div class="features">
        <h1>Aktualności na stronie</h1>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.preview }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Nie posiadacie aktualności</p>
        {% endif %}
    </div>
{% endblock %}